<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello user</title>
</head>
<body>
    <div>Hello user</div>
    <a href="/train_museum">Train museum</a>
</body>
</html>