<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Train museum!!!</title>
</head>

<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>
</div>
<h1>Hello </h1>
<h2>Train Museum</h2>
<table>
    <tr>
        <th>Train Id</th>
        <th>Train Name</th>
        <th>Description</th>
    </tr>

    {{#trains}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{description}}</td>
        </tr>
    {{/trains}}

</table>
</body>
</html>