//
// PostgreSQL database dump
//

// Dumped from database version 13.2 (Ubuntu 13.2-1.pgdg20.04+1)
// Dumped by pg_dump version 13.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

//
// Name: refresh_orders(); Type: FUNCTION; Schema: public; Owner: bpptcrbngilcyk
//

CREATE FUNCTION public.refresh_orders() RETURNS boolean
    LANGUAGE plpgsql
    AS $$
    BEGIN
        UPDATE orders
        SET state_id = 7
        WHERE orders.state_id = 1 AND orders.creation_date + (orders.waiting_deadline * interval '1 second') < now();
        UPDATE orders
        SET state_id = 3
        WHERE orders.state_id = 2 AND orders.creation_date + (orders.deadline1 * interval '1 second') < now();
        UPDATE orders
        SET state_id = 4
        WHERE orders.state_id = 3 AND orders.creation_date + (orders.deadline2 * interval '1 second') < now();
        DELETE FROM orders
        WHERE state_id = 7;
        RETURN true;
    END;
$$;


//
// Name: start_order(bigint, bigint); Type: FUNCTION; Schema: public; Owner: bpptcrbngilcyk
//

CREATE FUNCTION public.start_order(order_id bigint, train bigint) RETURNS boolean
    LANGUAGE plpgsql
    AS $$
    BEGIN
        UPDATE orders
        SET active_date = now()
        WHERE id = order_id;
        UPDATE orders
        SET state_id = 2
        WHERE id = order_id;
        DELETE FROM orders
        WHERE (id != order_id) AND (train_id = train);
        RETURN true;
    END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

//
// Name: cargo; Type: TABLE; Schema: public; Owner: bpptcrbngilcyk
//

CREATE TABLE public.cargo (
    id bigint NOT NULL,
    name character varying(255),
    min_price numeric(10,2),
    max_price numeric(10,2)
);


//
// Name: city; Type: TABLE; Schema: public; Owner: bpptcrbngilcyk
//

CREATE TABLE public.city (
    id bigint NOT NULL,
    name character varying(255)
);


//
// Name: company; Type: TABLE; Schema: public; Owner: bpptcrbngilcyk
//

CREATE TABLE public.company (
    id bigint NOT NULL,
    cash real,
    name character varying(255),
    train_count integer,
    user_id bigint,
    city_id bigint
);


// Name: detail; Type: TABLE; Schema: public; Owner: bpptcrbngilcyk
//

CREATE TABLE public.detail (
    id bigint NOT NULL,
    name character varying(255),
    state smallint,
    distance_from_creation integer,
    distance_from_repair integer,
    train_id bigint NOT NULL,
    detail_museum_id bigint NOT NULL
);


//
// Name: detail_museum; Type: TABLE; Schema: public; Owner: bpptcrbngilcyk
//

CREATE TABLE public.detail_museum (
    id bigint NOT NULL,
    is_repaired boolean,
    name character varying(255),
    type character varying(255),
    wear smallint,
    mass integer,
    reliability integer,
    power integer
);


//
// Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: bpptcrbngilcyk
//
//
// Name: game_config; Type: TABLE; Schema: public; Owner: bpptcrbngilcyk
//

CREATE TABLE public.game_config (
    id bigint NOT NULL,
    name character varying(255),
    value_str character varying(255),
    value_int integer
);


ALTER TABLE public.game_config OWNER TO bpptcrbngilcyk;

//
// Name: hibernate_sequence; Type: SEQUENCE; Schema: public; Owner: bpptcrbngilcyk
//
// Name: order_state; Type: TABLE; Schema: public; Owner: bpptcrbngilcyk
//

CREATE TABLE public.order_state (
    id bigint NOT NULL,
    name character varying(255),
    in_motion boolean
);


//
// Name: orders; Type: TABLE; Schema: public; Owner: bpptcrbngilcyk
//

CREATE TABLE public.orders (
    id bigint NOT NULL,
    car_count integer,
    creation_date timestamp without time zone DEFAULT now() NOT NULL,
    full_wear integer,
    profit integer,
    cargo_id bigint,
    route_id bigint,
    state_id bigint,
    train_id bigint,
    waiting_deadline bigint,
    deadline1 bigint,
    deadline2 bigint,
    execution integer,
    active_date timestamp without time zone
);


//
// Name: route; Type: TABLE; Schema: public; Owner: bpptcrbngilcyk
//

CREATE TABLE public.route (
    id bigint NOT NULL,
    distance integer,
    city1 bigint,
    city2 bigint
);


//
// Name: train; Type: TABLE; Schema: public; Owner: bpptcrbngilcyk
//

CREATE TABLE public.train (
    id bigint NOT NULL,
    corps_state smallint,
    creation_date timestamp without time zone,
    name character varying(255),
    company_id bigint,
    train_museum_id bigint,
    city_id bigint,
    status_ref bigint
);

//
// Name: train_detail_museum; Type: TABLE; Schema: public; Owner: bpptcrbngilcyk
//

CREATE TABLE public.train_detail_museum (
    train_museum_id bigint NOT NULL,
    detail_id bigint NOT NULL
);

//
// Name: train_museum; Type: TABLE; Schema: public; Owner: bpptcrbngilcyk
//

CREATE TABLE public.train_museum (
    id bigint NOT NULL,
    corps_price integer,
    corps_wear smallint,
    description character varying(255),
    limit_age smallint,
    mass integer,
    name character varying(255),
    power integer,
    price integer,
    reliability smallint,
    speed integer
);

//
// Name: train_status; Type: TABLE; Schema: public; Owner: bpptcrbngilcyk
//

CREATE TABLE public.train_status (
    id bigint NOT NULL,
    name character varying(255)
);

//
// Name: user_role; Type: TABLE; Schema: public; Owner: bpptcrbngilcyk
//

CREATE TABLE public.user_role (
    user_id bigint NOT NULL,
    roles character varying(255)
);


//
// Name: users; Type: TABLE; Schema: public; Owner: bpptcrbngilcyk
//

CREATE TABLE public.users (
    id bigint NOT NULL,
    active boolean NOT NULL,
    password character varying(255),
    username character varying(255)
);


ALTER TABLE public.users OWNER TO bpptcrbngilcyk;

//
// Data for Name: cargo; Type: TABLE DATA; Schema: public; Owner: bpptcrbngilcyk
//

COPY public.cargo (id, name, min_price, max_price) FROM stdin;
407	Gold	20.00	40.00
408	Coal	10.00	15.00
409	Oil	15.00	20.00
410	Water	2.00	15.00
411	Steel	20.00	30.00
1	Wood	5.00	10.00
\.


//
// Data for Name: city; Type: TABLE DATA; Schema: public; Owner: bpptcrbngilcyk
//

COPY public.city (id, name) FROM stdin;
1	Mukachevo
2	Uzhgorod
126	Lviv
238	Chop
239	Kiev
\.


//
// Data for Name: company; Type: TABLE DATA; Schema: public; Owner: bpptcrbngilcyk
//

COPY public.company (id, cash, name, train_count, user_id, city_id) FROM stdin;
5	45870	MyCompany	\N	4	1
3	-30057	MyCompany	\N	2	1
5242	-20040	MyCompany	\N	5241	1
1	18209	ValikCompany	1	1	1
\.


//
// Data for Name: detail; Type: TABLE DATA; Schema: public; Owner: bpptcrbngilcyk
//

COPY public.detail (id, name, state, distance_from_creation, distance_from_repair, train_id, detail_museum_id) FROM stdin;
\.


//
// Data for Name: detail_museum; Type: TABLE DATA; Schema: public; Owner: bpptcrbngilcyk
//

COPY public.detail_museum (id, is_repaired, name, type, wear, mass, reliability, power) FROM stdin;
2951	t	Engine	type	10	600	90	1000
2950	t	Мотор    		100	600	80	1200
3563	t	Шасі    		10	400	99	0
\.



//
// Data for Name: game_config; Type: TABLE DATA; Schema: public; Owner: bpptcrbngilcyk
//

COPY public.game_config (id, name, value_str, value_int) FROM stdin;
4336	multiTrain	false	0
4339	adminPanel.cities	true	1
4340	adminPanel.routers	true	1
4343	userPanel.Resume	true	1
4344	userPanel.trainMuseum	true	1
4345	adminPanel.users	true	1
4341	adminPanel.orders	true	1
4346	adminPanel.trainMuseum	true	1
4348	adminPanel.gameConfig	true	1
4347	adminPanel.detail_museum	false	0
4338	adminPanel.cargo	true	1
\.


//
// Data for Name: order_state; Type: TABLE DATA; Schema: public; Owner: bpptcrbngilcyk
//

COPY public.order_state (id, name, in_motion) FROM stdin;
7	cancelled	\N
2	deadline1	t
3	deadline2	t
4	belated	t
5	done	f
6	belated_done	f
1	waiting	f
\.


//
// Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: bpptcrbngilcyk
//



//
// Data for Name: route; Type: TABLE DATA; Schema: public; Owner: bpptcrbngilcyk
//

COPY public.route (id, distance, city1, city2) FROM stdin;
1	40	1	2
\.


//
// Data for Name: train; Type: TABLE DATA; Schema: public; Owner: bpptcrbngilcyk
//



//
// Data for Name: train_detail_museum; Type: TABLE DATA; Schema: public; Owner: bpptcrbngilcyk
//

COPY public.train_detail_museum (train_museum_id, detail_id) FROM stdin;
\.


//
// Data for Name: train_museum; Type: TABLE DATA; Schema: public; Owner: bpptcrbngilcyk
//

COPY public.train_museum (id, corps_price, corps_wear, description, limit_age, mass, name, power, price, reliability, speed) FROM stdin;
1	10000	10	prime train	20	20000	train1	2000	15000	95	60
2	5000	15	second train	22	15000	train2	1500	10000	90	70
3	7500	10	third train	25	15000	train3	2500	25000	95	75
291	1	100	Cheat train	40	1	Train4	5000	1	100	5000
\.


//
// Data for Name: train_status; Type: TABLE DATA; Schema: public; Owner: bpptcrbngilcyk
//

COPY public.train_status (id, name) FROM stdin;
1	PROGRESS
2	SOLD
3	BREAKAGE
\.


//
// Data for Name: user_role; Type: TABLE DATA; Schema: public; Owner: bpptcrbngilcyk
//

COPY public.user_role (user_id, roles) FROM stdin;
1	USER
2	USER
4	USER
1	ADMIN
5241	USER
\.


//
// Data for Name: users; Type: TABLE DATA; Schema: public; Owner: bpptcrbngilcyk
//

COPY public.users (id, active, password, username) FROM stdin;
1	t	111	user
5241	t	111	admin
2	t	111	User
4	t	1111	Alex
\.
//
// Name: cargo cargo_pkey; Type: CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.cargo
    ADD CONSTRAINT cargo_pkey PRIMARY KEY (id);


//
// Name: city city_pkey; Type: CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.city
    ADD CONSTRAINT city_pkey PRIMARY KEY (id);


//
// Name: company company_pkey; Type: CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.company
    ADD CONSTRAINT company_pkey PRIMARY KEY (id);


//
// Name: detail_museum detail_museum_pkey; Type: CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.detail_museum
    ADD CONSTRAINT detail_museum_pkey PRIMARY KEY (id);


//
// Name: detail detail_pkey; Type: CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.detail
    ADD CONSTRAINT detail_pkey PRIMARY KEY (id);


//
// Name: game_config game_config_pkey; Type: CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.game_config
    ADD CONSTRAINT game_config_pkey PRIMARY KEY (id);


//
// Name: order_state order_state_pkey; Type: CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.order_state
    ADD CONSTRAINT order_state_pkey PRIMARY KEY (id);


//
// Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


//
// Name: route route_pkey; Type: CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.route
    ADD CONSTRAINT route_pkey PRIMARY KEY (id);


//
// Name: train_museum train_museum_pkey; Type: CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.train_museum
    ADD CONSTRAINT train_museum_pkey PRIMARY KEY (id);


//
// Name: train train_pkey; Type: CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.train
    ADD CONSTRAINT train_pkey PRIMARY KEY (id);


//
// Name: train_status train_status_pkey; Type: CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.train_status
    ADD CONSTRAINT train_status_pkey PRIMARY KEY (id);


//
// Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


//
// Name: company city_company; Type: FK CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.company
    ADD CONSTRAINT city_company FOREIGN KEY (city_id) REFERENCES public.city(id);


//
// Name: train city_train; Type: FK CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.train
    ADD CONSTRAINT city_train FOREIGN KEY (city_id) REFERENCES public.city(id);


//
// Name: detail detail_detail_museum_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.detail
    ADD CONSTRAINT detail_detail_museum_id_fkey FOREIGN KEY (detail_museum_id) REFERENCES public.detail_museum(id);


//
// Name: detail detail_train_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.detail
    ADD CONSTRAINT detail_train_id_fkey FOREIGN KEY (train_id) REFERENCES public.train(id);


//
// Name: orders fk9hgxphiqwqwjll7fryacgc261; Type: FK CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk9hgxphiqwqwjll7fryacgc261 FOREIGN KEY (train_id) REFERENCES public.train(id);


//
// Name: orders fkdqnsspy7dn65qeqxmlth3pwih; Type: FK CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fkdqnsspy7dn65qeqxmlth3pwih FOREIGN KEY (state_id) REFERENCES public.order_state(id);


//
// Name: orders fkeop7en0d481ppxbnglcmxd5u9; Type: FK CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fkeop7en0d481ppxbnglcmxd5u9 FOREIGN KEY (route_id) REFERENCES public.route(id);


//
// Name: train_detail_museum fkf2lxty4na57h32rtjg9yy37ch; Type: FK CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.train_detail_museum
    ADD CONSTRAINT fkf2lxty4na57h32rtjg9yy37ch FOREIGN KEY (detail_id) REFERENCES public.detail_museum(id);


//
// Name: train fkfcd7gfk198fistapjl3u6xx2p; Type: FK CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.train
    ADD CONSTRAINT fkfcd7gfk198fistapjl3u6xx2p FOREIGN KEY (train_museum_id) REFERENCES public.train_museum(id);


//
// Name: train fkfmt6w8ufr8mjsyj7qxgh1q6w0; Type: FK CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.train
    ADD CONSTRAINT fkfmt6w8ufr8mjsyj7qxgh1q6w0 FOREIGN KEY (company_id) REFERENCES public.company(id);


//
// Name: user_role fkj345gk1bovqvfame88rcx7yyx; Type: FK CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.user_role
    ADD CONSTRAINT fkj345gk1bovqvfame88rcx7yyx FOREIGN KEY (user_id) REFERENCES public.users(id);


//
// Name: orders fko2hmyoymmbiohcu2fpgxeg9tc; Type: FK CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fko2hmyoymmbiohcu2fpgxeg9tc FOREIGN KEY (cargo_id) REFERENCES public.cargo(id);


//
// Name: train_detail_museum fkpdval0snai5dos6g87x5spc6v; Type: FK CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.train_detail_museum
    ADD CONSTRAINT fkpdval0snai5dos6g87x5spc6v FOREIGN KEY (train_museum_id) REFERENCES public.train_museum(id);


//
// Name: route fksp2dr6a6wae4twh43n2bm5y0q; Type: FK CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.route
    ADD CONSTRAINT fksp2dr6a6wae4twh43n2bm5y0q FOREIGN KEY (city1) REFERENCES public.city(id);


//
// Name: company fksxe9t9istcdt2mtdbvgh83a9g; Type: FK CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.company
    ADD CONSTRAINT fksxe9t9istcdt2mtdbvgh83a9g FOREIGN KEY (user_id) REFERENCES public.users(id);


//
// Name: route fktnnd4ysd4bg329yie7qh4x0lv; Type: FK CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.route
    ADD CONSTRAINT fktnnd4ysd4bg329yie7qh4x0lv FOREIGN KEY (city2) REFERENCES public.city(id);


//
// Name: train train_train_status; Type: FK CONSTRAINT; Schema: public; Owner: bpptcrbngilcyk
//

ALTER TABLE ONLY public.train
    ADD CONSTRAINT train_train_status FOREIGN KEY (status_ref) REFERENCES public.train_status(id);


//
// Name: LANGUAGE plpgsql; Type: ACL; Schema: -; Owner: postgres
//

GRANT ALL ON LANGUAGE plpgsql TO bpptcrbngilcyk;


//
// PostgreSQL database dump complete
//

